/* .nav {
    background-color: #222222 !important;
} */

.nav-link {
    /* color: #7c7c7c !important; */
    border-radius: 4px !important;

}

.nav-link:active {
    background-color: black !important;
    color: #FFF !important;
}

.navbar-brand {
    color: white !important;
}

.btn-outline-success {
    color: white;
    background-color: #28a745;
}

.jumbotron {
    padding: 20px 150px 20px 80px !important;
}

.btn-blue {
    background-color: #337ab7 !important;
    color: white !important;
}

.badge {
    margin-left: 6px;
}

.details {
    width: fit-content;
    border: 0.5px solid rgb(194, 194, 194);
    /* box-shadow: gray 0px 0px 2px; */
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 8px;
}

.content {
    padding: 0 100px;
}